@layout('layouts/main')
@section('content')
  <h1>Tambah Kategori</h1>
  <form method="POST" action="/kategori">
    @csrf()
    <label>Nama Kategori:</label>
    <input type="text" name="namaKategori" />
    <button type="submit">Simpan</button>
  </form>
@endsection