<!DOCTYPE html>
<html>
<head>
  <title>Wisata App</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Beranda</a> |
    <a href="/wisata">Wisata</a> |
    <a href="/kota">Kota</a> |
    <a href="/kategori">Kategori</a> |
    <a href="/wisata-terpopuler">Terpopuler</a>
  </nav>

  <main>
    @!section('content')
  </main>
</body>
</html>