@component('components/layout/app', { title: 'Selamat Datang' })
  @slot('main')
    <h1>Selamat Datang di Website Wisata</h1>
    <p>Temukan destinasi wisata impian Anda di seluruh Indonesia.</p>
    <p>Jelajahi daftar wisata kami, temukan yang paling populer, atau login untuk memberikan ulasan!</p>
  @endslot
@endcomponent